@import url("https://fonts.googleapis.com/css?family=Kumbh+Sans:400,700");

html {
  font-size: 100%;
}
:root {
  /* ============   Colors ============== */
  /* 
Primary
-------- */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /* 
Neutral
------- */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-75: hsl(0, 0%, 0%);

  /* ========== Other Variables ==============  */
  --transition: all 0.5s ease-in-out;
  --letter-spacing: 1px;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  background: var(--white);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
  padding-left: 0;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
button {
  cursor: pointer;
}

.content--center {
  width: 90vw;
  max-width: 1100px;
  margin: 0 auto;
}

/* ================= Project CSS ================== */

/* Navbar
   ------ */
.nav {
  padding: 1rem 0;
}
.nav--center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu__btn {
  background-color: transparent;
  border: none;
}
.nav__logo {
  width: 120px;
}

.nav__links {
  display: none;
}
.nav__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}
.cart__container {
  display: flex;
  align-items: center;
}
.cart__btn {
  background-color: transparent;
  border: none;
}
.profile__img {
  width: 30px;
}
/* Sidebar
   ------- */
.sidebar__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  transform: translateX(-100%);
  transition: var(--transition);
  z-index: 10000;
}
.sidebar--open {
  transform: translateX(0);
}
.sidebar {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: var(--white);
}

.sidebar__header {
  margin-bottom: 3rem;
}
.close__btn {
  background-color: transparent;
  border: none;
}
.sidebar__links {
  display: grid;
  gap: 1rem;
}
.sidebar__link {
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  font-weight: 700;
}

/* Product
   ----------------- */
.product {
  margin-bottom: 5rem;
}
.product--center {
  max-width: 1100px;
  margin: 0 auto;
}
.product__carousel {
  position: relative;
}
.carousel__btn {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);
  border: none;
}
.carousel__btn img {
  width: 10px;
}
.img__grid {
  display: none;
}
.prev__btn {
  left: 1rem;
}
.next__btn {
  right: 1rem;
}
.product__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product__company {
  order: -1;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  color: orange;
}
.product__title {
  text-transform: capitalize;
  color: var(--very-dark-blue);
}
.product__desc {
  color: var(--dark-grayish-blue);
  letter-spacing: var(--letter-spacing);
}
.product__price {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  gap: 1rem;
}
.current-price {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--very-dark-blue);
}
.product__discount {
  display: inline-block;
  background-color: var(--pale-orange);
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  margin-right: auto;
  color: var(--orange);
  font-size: 1.25rem;
  font-weight: 700;
}
.prev__price {
  color: var(--grayish-blue);
  letter-spacing: var(--letter-spacing);
  text-decoration: line-through;
  font-weight: 700;
}
.cart__buttons {
  display: grid;
  gap: 1rem;
}
.amount__buttons {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--light-grayish-blue);
  border-radius: 5px;
}
.amount__btn {
  background: transparent;
  border: none;
}
.amount {
  color: var(--very-dark-blue);
  font-weight: 700;
}
.add-to-cart__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--orange);
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-family: inherit;
  color: var(--white);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  font-weight: 700;
}
.add-to-cart__btn svg {
  font-size: 1.25rem;
  /* border: 1px solid black; */
}
@media (min-width: 800px) {
  .nav__header {
    gap: 4rem;
  }
  .menu__btn {
    display: none;
  }
  .nav--center {
    border-bottom: 1px solid var(--grayish-blue);
  }
  .nav__links {
    display: flex;

    gap: 1.5rem;
  }
  .nav__link {
    padding: 2rem 0;
    /* border: 1px solid black; */
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    color: var(--dark-grayish-blue);
  }
  .sidebar__container {
    display: none;
  }
  .product--center {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 1rem;
    gap: 5rem;
  }
  .product__info {
    padding: 0;
  }
  .carousel__img {
    border-radius: 10px;
  }
  .carousel__btn {
    display: none;
  }
  .img__grid {
    margin-top: 1rem;
    /* border: 1px solid black; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .img__container {
    border-radius: 5px;
    overflow: hidden;
  }
  .img--active {
    border: 3px solid var(--orange);
  }
  .img--active img {
    opacity: 0.5;
  }
  .cart__buttons {
    grid-template-columns: 1fr 2fr;
  }
}
